.shaded{
  float: left;
}
.col-12{
  padding: 10px;
}
.col-sm-6{
  padding: 10px;
}
.col-lg-4{
  padding: 10px;
}
.modal{
  right:0;
  bottom: 0;
}
@media only screen and (min-width: 768px){
  .modal-dialog{
  max-width: 55vw;
  object-fit: contain;
  margin:0 auto;
  }
}
@media only screen and (max-width:768px){
  .modal-dialog{
  max-width: 100vw;
  margin:0 10px;;
  top:20%;
  }
}
.modal-content{
  background-color: transparent;
  border: none;
}
.modal-header{
  border:none;
  padding: 10px;
}
.close{
  font-size: 30px;
  color: #ffffff;
  text-shadow: 0 1px 0 #000000;
  opacity: 1;
}
.modal-body{
  padding: 0;
}
.modal-footer{
  border:none;
}
.carousel-caption{
  font-family: "Roboto",Helvetica,Arial,sans-serif;
  padding: 0;
  left: 0%;
  right: 0%;
  bottom: 0px;
}
.carousel-caption h5{
  font-size: 16px;
  opacity: 0.8;
}
.carousel-caption p{
  opacity: 0.8;
  line-height: 13px;
  font-size: 12px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}
#descrip-5{
  position:relative;
  color: #ffffff;
  font-size: 30vw;
  left:50px;
  text-shadow: 30px 10px 40px rgba(0,0,0,0.15);
}
#viewport-fix{
  max-width:500px;
}
